.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	color: white;
	background-color: #7653FC;
}

.primary:hover {
	background-color: #5F42D5;
}

.ghost {
	color: #3B434E;
	border: 1px solid #EBEBEB;
	background: none;
}

.ghost:hover {
	color: white;
	background-color: #7653FC;
}
